<%= make_home_path %>
<div class="tab_content">
	<p id="notice"><%= notice %></p>
	<h2>Autocomplete</h2>
	<%= make_xml_path(request.fullpath) %>
	<div>Results: <%= @results.join(",") %></div>
	TODO
</div>
