* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #cccccc; color: #000000;
	margin: 0px;
	padding: 0px;
}

.banner {
	background: url('/images/banner_bg_pattern.jpg') repeat-x;
	height: 116px;
	border-bottom: 2px solid white;
}

.banner .title {
	font-family: 'Nunito', arial, serif;;
	font-size: 52px;
	float: left;
	color: white;
	margin-left: 20px;
	margin-top: 20px;
}

.banner .tag_line {
	float: right;
	font-family: verdana, arial, helvetica, sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #8b9a49;
	padding-top: 46px;
	padding-right: 20px;
}

.content {
    left: 50%;
    margin: 12px 0 50px -512px;
    position: absolute;
    width: 1024px;
}

ul.nav {
	list-style-type: none;
	background-color: #4b6c9c;
	background-image: url("/images/nav_highlight_middle.png");
	background-repeat: repeat-x;
	height: 60px;
	border: 2px solid #001e51;
	margin-bottom: 16px;
	border-radius: 20px;
	padding-left: 16px;
}

ul.nav li {
	float: left;
	background: url("/images/nav_divider.jpg") no-repeat scroll 0 transparent;
}

ul.nav li:first-child {
	background-image: none;
}

ul.nav li.selected {
	background-color: #8b9a49;
}

ul.nav a {
	padding-right: 30px;
	padding-left: 30px;
	display: block;
	line-height: 60px;
	text-decoration: none;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 18px;
	color: white;
}

ul.nav a:hover {
	color: #8b9a49;
	background-color: inherit;
	text-decoration: underline;
}

ul.nav li.selected a:hover {
	color: black;
}

.tab_content {
	border: 3px solid #8b9a49;
	background-color: white;
	padding: 30px 50px;
	border-radius: 20px;
	box-shadow: 4px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

h3 {
	padding-top: 16px;
	padding-bottom: 8px;
	color: #8b9a49;
}

.individual_tab {
	font-size: 18px;
}

.individual_tab p {
	margin-bottom: 8px;
}

.admin {
	left: 50%;
	margin: 12px 0 50px -250px;
	position: absolute;
	width: 500px;
	text-align: center;
}

.admin a {
	color: #4b6c9c;
	text-decoration: none;
}

.admin a:hover {
	color: #8b9a49;
	text-decoration: underline;
}

a.example_link {
	color: #4b6c9c;
	text-decoration: none;
}

a.example_link:hover {
	color: #8b9a49;
	text-decoration: underline;
}

/*body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}*/

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/*a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }*/

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
